<%= render partial: "layouts/page_title", locals: { page_title: "All Meals" } %>
<%= render partial: "layouts/flash_message" %>

<div class="items-list">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <%= link_to "Full Menu", "#", class: "list-group-item", id: "full-menu" %>
        <%= link_to "Breakfast", "#", class: "list-group-item", id: "breakfast" %>
        <%= link_to "Lunch", "#", class: "list-group-item", id: "lunch" %>
        <%= link_to "Dinner", "#", class: "list-group-item", id: "dinner" %>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row item-info" id="item-view">
      </div>
    </div>
  </div>
</div>
